@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('YanoneKaffeesatz-Medium.woff2') format('woff2'),
        url('YanoneKaffeesatz-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('YanoneKaffeesatz-Bold.woff2') format('woff2'),
        url('YanoneKaffeesatz-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

